extend /layout

block content
  div.panel.panel-default
    div.panel-heading Delete account
    div.panel-body
      p Once you delete your account, there is no going back. Please be certain.
      form(action="/delete-account", method="POST")
        input(type="hidden", name="_csrf", value=_csrf)
        div.form-group
          label(for="name") Enter your username
          input.form-control(type="text", id="name", name="name")
        div.form-group
          label(for="phrase") Type in the following phrase
          span
            small please delete my account forever
          input.form-control(type="text", id="phrase", name="phrase")
        div.form-group
          label(for="password") Confirm your password
          input.form-control(type="password", id="password", name="password")
        if error
          div.alert.alert-warning #{error}
        input(type="submit", class="btn btn-primary", value="Delete my account")
